---
import Header from '../../components/header.astro'
import {getPokeData, getOnePokeData} from '../../services/service.ts';
import {type iPokemon, type iType, type iStat, type iAbility} from '../../types/api.ts';
import Layout from '../../layouts/Layout.astro';
import Imagen from '../../components/imagen.astro'

export async function getStaticPaths() {
    const data = await getPokeData("https://pokeapi.co/api/v2/pokemon?limit=890&offset=0");
    return data.map((pokemon:iPokemon) => {
            return {params: {pokemon: pokemon.name}}
        });
}

const { pokemon } = Astro.params;

const pokeUrl = 'https://pokeapi.co/api/v2/pokemon/' + pokemon

let data = await getOnePokeData(pokeUrl);
---

<Layout title='PokeData'>
    <main>
        <Header/>

        <section class="parent">

            <div class="pokeInfo">

                <h2 class="pokeId">{"N.ยบ "+data.id}</h2>
                <h1 class="pokeName">{data.name}</h1>

                <section id="firstInfo">
                    <div class="types">
                        <h2>Types</h2>
                        <div class="typesList">
                            {data.types.map((type: iType) => 
                                    <div class="type">
                                        <h3>{type.type.name}</h3>
                                        <Imagen 
                                        src={"/typesIcons/" + type.type.name + ".png"} 
                                        alt='Icono type' 
                                        height='22px' 
                                        width='22px'/>
                                    </div>
                                )
                            }
                        </div>
                    </div>
                    
                    <div id="measurements">
                        <div>
                            <h2>Weight</h2>
                            <h2>{data.weight/10+" Kg."}</h2>
                        </div>
                        <div>
                            <h2>Height</h2>
                            <h2>{data.height/10+" m."}</h2>
                        </div>
                    </div>

                </section>
                

                    
                <section id="statsParent">
                    <div class="stats">
                        <h2>Stats</h2>
                        <div class="statsList">
                            {
                                data.stats.map((stat: iStat) => 
                                    <div class="stat">
                                        <h3>{stat.stat.name+": "}</h3>
                                        <h3>{stat.base_stat}</h3>
                                    </div>
                                )
                            }
                        </div>

                    </div>

                    <div class="abilitys">
                        <h2>Habilities</h2>
                        <div class="abilityList">
                            {data.abilities.map((ability:iAbility) => 
                                <div>
                                    <h3>{ability.ability.name}</h3>
                                </div>
                            )}
                        </div>
                    </div>
                </section>
                    

            </div>
    


            <div class="pokeImg">
                <Imagen src={data.sprites.other?.['official-artwork'].front_default} alt={'The Pokemon Sprite ' + data.name} width="300px" height="" transitionName={data.name}/>
            </div>

        </section>

        <section class="btnBackToHome">
            <a href="javascript:history.back(-1);"><img src='../btnIcons/BackIcon.png' alt='Icon Button Back To Home' height='20px' width='20px' transition:persist/></a>
        </section>
    </main>

    
    
</Layout>


<style>
    main{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-content: center;
    }

    #firstInfo {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
    }
    .types{
        text-align: center;
    }

    .typesList {
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        gap: 20px;
    }

    .type {
        background-color: rgb(188, 188, 188);
        padding: 4px 10px;
        border-radius: 50px;
        display: flex;
        gap: 5px;
    }

    #measurements {
        margin-top: 10px;
    }

    #measurements div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    #measurements div h2:nth-child(2){
        text-align: end;
    }

    #statsParent {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
    }

    .stats{
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    .stats h2 {
        text-align: center;
    }

    .statsList{
        display: flex;
        flex-flow: column;
        row-gap: 6px;
    }

    .stat{
        display: grid;
        grid-template-columns: auto 15px;
        column-gap: 8px;
    }

    .stat h3:first-child{
        text-transform: capitalize;
    }


    .abilitys{
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 10px;
    }

    .abilityList{
        display: flex;
        flex-flow: column nowrap;
        gap: 10px;
    }

    .abilityList div{
        background-color: rgb(223, 223, 223);
        border-radius: 25px;
        padding: 10px 25px;
        text-align: center;
        text-transform: capitalize;
    }

    .parent{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        justify-content: center;
        align-content: center;
        gap: 5rem;
        padding: 5rem;
    }
    
    .pokeImg, .pokeInfo{
        background-color: rgba(255, 255, 255, 0.92);
        border-radius: 25px;
        /* height: 70vh; */
    }

    .pokeImg{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pokeInfo{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content;
        padding: 1rem;
        padding-bottom: 2.5rem;
    }

    .pokeId{
        width: 100%;
        text-align: end;
        font-weight: bold;
    }

    .pokeName{
        text-align: center;
        text-transform: capitalize;
        font-size: 3.5rem;
    }

    .btnBackToHome{
        display: flex;
        flex-direction: row nowrap;
        justify-content: center;
        margin-bottom: 4rem;

    }

    .btnBackToHome a{
        scale: 2;
        background-color: white;
        text-align: center;
        border-radius: 150px;
        user-select: none;
        width: 20px;
        height: 20px;
    }

    .btnBackToHome a img{
        transition: scale 0.3s;
    }

    .btnBackToHome a:hover img{
        scale: 1.29;
    }

    @media screen and (max-width:700px){
        #firstInfo{
            flex-direction: column;
        }

        #statsParent{
            flex-direction: column;
        }
    }

    @media screen and (max-width:1024px){
        .parent{
            grid-template-columns: 1fr;
            padding: 2rem 5rem;
        }
    }

</style>